<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>


</head>

<body style=" background-color: #1e3a8a; display : grid ; place-items: center; ">

    <img src="https://i.ibb.co/tDKR0TV/newgen-Logo.png" style="width: 20%; object-fit: contain; margin-top: 60px;"
        alt="">

    <h1 style="  font-family: 'Courier New', Courier, monospace; color: white; font-weight: bold; ">Welcome in Your Managing space  <%= name%> </h1>



    <div style="display: flex; width: 1200px; justify-content: space-between;">
        <div class="card" style="width: 18rem; height: 15rem; margin-top: 60px;">
            <div class="card-body"
                style="display: grid; place-items: center; font-family: sans-serif; font-weight: bold; background-color: white; color: #1e3a8a; padding: 20px; border-radius: 10px;">
        
        
                <a href="/answers" class="btn btn-primary">
                    <h3 class="card-title">Manage Answers</h3>
                </a>
            </div>
        </div>
       

            <div class="card" style="width: 18rem; height: 15rem; margin-top: 60px;">
                <div class="card-body" style="display: grid; place-items: center; font-family: sans-serif; font-weight: bold; background-color: white; color: #1e3a8a; padding: 20px; border-radius: 10px;">
                
                    
                    <a href="/articles" class="btn btn-primary"><h3 class="card-title">Manage Blogs</h3></a>
                </div>
            </div>


            <div class="card" style="width: 18rem; height: 15rem; margin-top: 60px;">
                <div class="card-body"
                    style="display: grid; place-items: center; font-family: sans-serif; font-weight: bold; background-color: white; color: #1e3a8a; padding: 20px; border-radius: 10px;">
            
            
                    <a href="/questions" class="btn btn-primary">
                        <h3 class="card-title">Manage Questions</h3>
                    </a>
                </div>
            </div>
    </div>



    


  




</body>

</html>